<h1>Chats with Me</h1>
<%= button_to  "create_chat",chats_path, method: :post, data: {turbo: false} %>
<% @chats.each do |chat| %>
  <a href = "<%= chat_path(chat.session_id) %>">
  <span >
    <%= chat.session_id%>
  </span>
  </a>
  <p> <%= chat.session_id%> </p>
  <p><%= chat.created_at%> </p>
  <div>
    <%= chat.chat_messages&.last&.content&.truncate(50) %>
  </div>
<% end %>
